<h2>Orders</h2>
<ul class="collection">
  <%= for order <-@orders do %>
    <li class="collection-item"><%= order.title %>
      <div class="right">
          <%= link "Edit", to: order_path(@conn, :edit , order) %>
          <%= link "Delete", to: order_path(@conn, :delete , order), method: :delete %>
      </div>
    </li>
  <% end %>
</ul>
