/* This file is for your main application css. */
.nav>li>a {
    padding: 0 15px;
}

.help-block{
  color:red;
  text-transform: capitalize;
  position: absolute;
  top:40px;
}
.form-group{
  position: relative;
}
